[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = joachimbbp
	email = 104856283+joachimbbp@users.noreply.github.com
[core]
	excludesFile = ~/.gitignore
[credential]
	helper = "!f() { /home/nonroot/.vscode-server/bin/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/node /tmp/vscode-remote-containers-11ec768a-6f5a-4fae-b790-534c5909fcc0.js git-credential-helper $*; }; f"
